# Model Training Pipline and ColumnTransformer

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
data = sns.load_dataset('tips')
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

***predict whats the time? if its Lunch or dinner***

In [28]:
# predict whats the time? if its Lunch or dinner >> time is the target variables

data.time.unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

***EDA >> Subjective***

***endcoding , missing value treaiment , scaling >> automate***

In [29]:
# EDA >> Subjective
#  endcoding , missing value treaiment , scaling >> automate 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

# Label Encoder

In [30]:
from sklearn.preprocessing import LabelEncoder

Encoder = LabelEncoder()
data['time'] = Encoder.fit_transform(data['time'])

In [31]:
data.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [32]:
data.time.unique()  # lunch = 0 , Dinner = 1

array([0, 1])

In [33]:
X = data.drop('time' , axis=1 )
y = data['time']

In [34]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X , y , test_size = 0.3 , random_state = 0)

In [35]:
X_train.head()

     total_bill   tip     sex smoker   day  size
61        13.81  2.00    Male    Yes   Sat     2
146       18.64  1.36  Female     No  Thur     3
52        34.81  5.20  Female     No   Sun     4
66        16.45  2.47  Female     No   Sat     2
26        13.37  2.00    Male     No   Sat     2

In [36]:
data.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [37]:
# Handling the missing values in the dataset
# data encoding
# feature scaling

from sklearn.impute import SimpleImputer # for missing values

from sklearn.preprocessing import OneHotEncoder # for encoding

from sklearn.preprocessing import StandardScaler # for scaling

***Pipeline***

***ColumnTransformer***

In [38]:
from sklearn.pipeline import Pipeline  # A pipeline is a sequence of steps

from sklearn.compose import ColumnTransformer # group all the pipeline step for each of column

In [39]:
cat_column = ['sex' , 'smoker' , 'day'] 

num_column = ['total_bill' , 'tip' , 'size']

In [40]:
# feature engineering automation using pipeline and columntransformer

# Define numerical pipeline
num_pipeline = Pipeline(steps=[
    ('imputation', SimpleImputer(strategy='median')),
    ('standardization', StandardScaler())
])

# Define categorical pipeline
col_pipeline = Pipeline(steps=[
    ('imputation', SimpleImputer(strategy='most_frequent')),
    ('encoding', OneHotEncoder())
])

In [41]:
from sklearn.compose import ColumnTransformer
perprocessor = ColumnTransformer([("num_pipeline" , num_pipeline , num_column ) ,
                                  ("col_pipeline", col_pipeline, cat_column)
])

In [42]:
X_train = perprocessor.fit_transform(X_train)

X_test = perprocessor.transform(X_test)

In [43]:
X_train

array([[-0.68232142, -0.68502117, -0.6164355 , ...,  1.        ,
         0.        ,  0.        ],
       [-0.15257538, -1.13966829,  0.46391538, ...,  0.        ,
         0.        ,  1.        ],
       [ 1.62092224,  1.58821446,  1.54426626, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-1.02890475, -1.04021424, -0.6164355 , ...,  0.        ,
         0.        ,  1.        ],
       [ 1.35659761,  2.15652336,  1.54426626, ...,  0.        ,
         1.        ,  0.        ],
       [-1.40181086,  1.55269515, -0.6164355 , ...,  0.        ,
         1.        ,  0.        ]])

In [44]:
X_test

array([[-0.26773756, -0.23037404,  0.46391538,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.19096277,  0.56525842,  1.54426626,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.05934885,  0.38766189, -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-1.40181086, -1.3954073 , -1.69678639,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.41251287, -0.3298281 , -0.6164355 ,  1.        ,  0.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [-1.56632827, -1.3954073 , -0.6164355 ,  1.        ,  0.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [-0.23154373,  0.08219585, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.36181571,  1.90788822, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.20631773,  0.38055803,  0.46391538,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 1.60337372,  0.50842753,  1.54426626,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 0.57568833,  1.44613723, -0.6164355 ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.56801085,  0.94176307, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.65380507, -0.3298281 , -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.77116082, -0.68502117, -0.6164355 ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.72509594, -0.98338334, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [ 1.13724107,  1.87236891,  1.54426626,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-1.28116477, -1.04021424, -0.6164355 ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.66148255,  0.02536496, -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.13722042,  0.02536496, -0.6164355 ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [ 0.33658971,  0.7357511 ,  0.46391538,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 1.09995046, -0.68502117,  0.46391538,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.09749108,  0.79258199, -0.6164355 ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.44212601, -0.68502117, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.54741715, -0.71343661, -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.7152249 , -0.68502117, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.3982547 , -0.3298281 , -0.6164355 ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.86329056, -0.54294394, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [ 1.07143411,  0.87782832,  3.70496803,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [ 0.57678512,  1.24012525,  1.54426626,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.46735201, -0.52163236, -0.6164355 ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.58141741, -0.54294394, -0.6164355 ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.82819352, -0.31562038, -0.6164355 ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.5057394 , -0.99048721, -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-1.03548544, -0.96207176, -0.6164355 ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.19096277,  0.02536496, -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.72838629, -0.25168563, -0.6164355 ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.34012522,  0.07509199,  0.46391538,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-1.06400179, -0.68502117, -0.6164355 ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [ 3.10377244,  4.28768176,  1.54426626,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.44431957,  0.02536496,  0.46391538,  1.        ,  0.        ,
         1.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [-1.25593877, -0.74185206, -1.69678639,  0.        ,  1.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [-0.83367743, -0.8270984 , -0.6164355 ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.47612627,  0.02536496,  0.46391538,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 1.07691802,  1.54559129,  2.62461715,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.7974836 , -0.52163236, -0.6164355 ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.33573809,  0.38055803,  0.46391538,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.19644668,  0.56525842, -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.16987874,  0.67892021, -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.32477026,  0.02536496,  0.46391538,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.75117356,  0.1106113 ,  1.54426626,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 1.38730753,  1.44613723, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.23483408, -0.68502117, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 0.05032942,  0.77837426, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 3.08622392,  1.44613723,  3.70496803,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-1.14406693,  0.7357511 , -0.6164355 ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.87754874, -1.04021424, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [ 1.08569229,  1.49586426,  1.54426626,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 0.07226508, -0.36534741,  1.54426626,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.6329662 , -0.3298281 , -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.80845143, -0.3298281 , -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 0.79504487,  0.7357511 , -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [-0.46296488,  0.13902674, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.12381386,  0.02536496, -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [ 0.54497842,  0.55815456,  1.54426626,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 1.10872472,  0.08929972,  1.54426626,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.49367479,  0.02536496, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.39057722,  0.18875377,  0.46391538,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [ 1.40375927, -1.27464166, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-1.06400179, -0.91944859,  0.46391538,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 0.98040115,  0.02536496, -0.6164355 ,  0.        ,  1.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [-0.51012653,  0.02536496, -0.6164355 ,  1.        ,  0.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [-1.04425971, -1.21781077, -0.6164355 ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.50001033,  0.4587005 ,  1.54426626,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.62748228,  0.7357511 , -0.6164355 ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ]])

In [67]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [68]:
# Sample dictionary of models
models = {
    'RandomForest': RandomForestClassifier(),
    'LogisticRegression': LogisticRegression(),
    'SVM': SVC()
}

In [69]:
from sklearn.metrics import accuracy_score

def model_train_eval(X_train, y_train, X_test, y_test, models):
    evaluation = {}
    for name, model in models.items():
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        model_score = accuracy_score(y_test, y_pred)
        evaluation[name] = model_score
    return evaluation

In [70]:
# Assume X_train, y_train, X_test, y_test are predefined
evaluation_results = model_train_eval(X_train, y_train, X_test, y_test, models)

# Print evaluation results
for model_name, accuracy in evaluation_results.items():
    print(f"{model_name}: {accuracy:.4f}")

RandomForest: 0.9054
LogisticRegression: 0.9189
SVM: 0.9189